@import "~leaflet/dist/leaflet.css";
@import "~react-leaflet-markercluster/dist/styles.min.css";

.markercluster-map {
  height: 90vh;
}

.container-map {
  z-index: 0;
  height: 100%;
}

.custom-tooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  color: black;
  font-weight: bold;
}
