@import "~leaflet/dist/leaflet.css";
@import "~react-leaflet-markercluster/dist/styles.min.css";

.markercluster-map {
  height: 90vh;
}

.container-map {
  z-index: 0;
  height: 100%;
}

.custom-tooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  color: black;
  font-weight: bold;
}

// override CollapsibleLayoutItem default behaviour
// % of the screen when shown
.show-side-panel {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(40%);
  flex: 0 0 calc(40%);
  max-width: calc(40%);
}

// override markercluster default cluster colors
.marker-cluster {
  background-color: rgba(57, 160, 204, 0.6);
}
.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: rgba(57, 160, 204, 0.6);
}
