@import '~leaflet/dist/leaflet.css';

.container-map {
  z-index: 0;
  height: 100%;
}

.custom-tooltip {
  background: transparent;
  border: none;
  box-shadow: none;
  color: black;
  font-weight: bold;
}